.container {
  padding-top: 1rem;
  text-align: center;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2e24f5;
}

.box {
  margin-top: 2rem;
  width: 1000px;
  border-radius: 15px;
  background-color: #ffff9e;
  padding: 20px;
  box-shadow: 0px 0px 10px #eee;
}

.emptybox {
  margin-top: 2rem;
  width: 40px;
  border-radius: 10px;
  background-color: #ffff9e;
  padding: 0px;
}

.aavebox {
  margin-top: 2rem;
  width: 800px;
  border-radius: 15px;
  background-color: #ffff9e;
  padding: 20px;
  box-shadow: 0px 0px 10px #000;
}

.aave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}

.token {
  padding: 22px 22px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.aavespan {
  margin: 1rem 1rem;
  display:inline-block;
}