.container {
  min-height: 50vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title,
.description {
  text-align: center;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.connectWallet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toAsset,
.fromAsset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}

.wallet {
  display: flex;
  justify-content: space-between;
}

.walletBtn {
  border-radius: '6px';
  background: '#111827';
  border: 'none';
  font-size: 1.25rem;
  font-weight: '600';
  cursor: 'pointer';
  color: 'white';
  padding: '14px 12px';
  margin-top: '40px';
  font-family: 'arial';
}

.box {
  margin-top: 2rem;
  width: 1000px;
  border-radius: 15px;
  background-color: #ffff9e;
  padding: 20px;
  box-shadow: 0px 0px 10px #eee;
  justify-content: right;
}